.search-card{
    display:flex;
    flex-direction:column;
    border-radius:0.25rem
}
/* .SearchItem-Container{
    box-shadow: 0.1rem 0.1rem #cfcfcf;
    height:auto;
    width: 50%;
    border-radius:0.25rem;
    text-align:center;
    background-color:#fcfcfc;
    margin:-20px 343px;
    z-index:200
   } */